<html>
  <head>
  	   <title>PicPick</title>
  		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
		<% include ../partials/_header.ejs %>

		<% include ../partials/_nav.ejs %>

		<% include homepage.ejs %>
		
		</div>

		<% include ../partials/_reviews.ejs %>

		<% include ../partials/_purchase.ejs %> <!-- purchase partials included here -->
		
		<% include ../partials/_footer.ejs %> <!-- footer included here -->

		
  </body>
</html>