<html>
  <head>
  	   <title>PicPick</title>
  		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
		<% include ../partials/_header.ejs %>

		<% include homepage.ejs %>
		
		</div>

		<% include ../partials/_reviews.ejs %>

		<% include ../partials/_purchase.ejs %> <!-- purchase partials included here -->
		
		<% include ../partials/_footer.ejs %> <!-- footer included here -->

		<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>-->
  </body>
</html>