<html>
  <head>
  	   <title>PicPick</title>
  		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
	<% include ../partials/_header.ejs %>
	
	 <!-- download start here -->

  <section id="gray" class="container-fluid--bg-lightgray"> <!-- Screenshot section start -->
  <div class="container-fluid"> <!-- container-fliuid start -->
    <div class="container container--text-center"> <!-- container start -->
      <h3 class="container--header-pad-sm font--lg">Download</h3>
      <p><i class="fa fa-exclamation-circle icon--orange" aria-hidden="true"></i> Please note that this free version may only be used for personal use in non-commercial environments.</p>
      <div class="row row--pad-bottom"> <!-- row start -->
      	  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      	  	  <div class="panel panel-default"> <!-- for home users start -->
  					<!-- Default panel contents -->
  					<div class="panel-heading">
  						<p><i class="fa fa-home icon--lg icon--gray" aria-hidden="true"></i></p>
  						<p>For Home Users</p>
  					</div>
  					<div class="panel-body">
  						<p class="shim--color-white">Lorem Ipsum</p>
    					<p class="font--md"><b>FREE</b></p>
  					</div>

  					<!-- List group -->
  					<ul class="list-group">
    					<li class="list-group-item">
    						<span>Personal (Home) Use Only.</span>
    						<i class="fa fa-exclamation-circle icon--orange" aria-hidden="true"></i>
    					</li>
    					<li class="list-group-item">
    						<span>Manual Update</span>
    						<i class="fa fa-exclamation-circle icon--orange" aria-hidden="true"></i>
    					</li>
    					<li class="list-group-item">
    						<span>No technical support</span>
    						<i class="fa fa-exclamation-circle icon--orange" aria-hidden="true"></i>
    					</li>
    					<li class="list-group-item shim--color-white">Lorem Ipsum</li>
    					<li class="list-group-item shim--color-white">Lorem Ipsum</li>
    					<li class="btn-primary btn-block font--sm"><a href="" class="shim--color-white">DOWNLOAD</a></li>
  					</ul>
  					<div class="panel-footer"><i class="fa fa-angle-double-right" aria-hidden="true"></i> <a href="">portable version</a></div>
				</div> <!-- for home users end -->
      	  </div>
      	  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      	  	  	<div class="panel panel-default"> <!--For professional users start -->
  				<!-- Default panel contents -->
  					<div class="panel-heading">
  						<p><i class="fa fa-briefcase icon--lg icon--gray" aria-hidden="true"></i></p>
						<p>For Professionals</p>
  					</div>
  					<div class="panel-body">
  						<p class="font--md"><b class="shim--color-orange">&dollar;24.99</b> <b><strike>&dollar;29.99</strike></b></p>
  						<p><span class="btn-success btn--offer">LIMITED TIME OFFER</span></p>
  					</div>

  					<!-- List group -->
  					<ul class="list-group">
    					<li class="list-group-item">
    						<span>Commercial and Personal Use</span>
    						<i class="fa fa-check-circle icon--green" aria-hidden="true"></i>
    					</li>
    					<li class="list-group-item">
    						<span>Auto Update</span>
    						<i class="fa fa-check-circle icon--green" aria-hidden="true"></i>
    					</li>
    					<li class="list-group-item">
    						<span>Technical Support</span>
    						<i class="fa fa-check-circle icon--green" aria-hidden="true"></i>
    					</li>
    					<li class="list-group-item">
    						<span>Lifetime Updates</span>
    						<i class="fa fa-check-circle icon--green" aria-hidden="true"></i>
    					</li>
    					<li class="list-group-item">
    						<span>No Ads</span> <i class="fa fa-check-circle icon--green" aria-hidden="true"></i>
    					</li>
    					<li class="btn-success btn-block font--sm">
    						<a href="" class="shim--color-white">BUY NOW</a>
    					</li>
  					</ul>
  					<div class="panel-footer"><i class="fa fa-angle-double-right" aria-hidden="true"></i> <a href="">I have already purchased a license</a></div>
				</div> <!-- fir professional users end -->
      	  </div>
      </div> <!-- row end -->
      <p>Like us on:</p>
    </div> <!-- container end -->
  </div> <!-- container0fliud end -->
</section> <!-- Screenshot section end -->

    <!-- download block ends here -->

<section id="white"> <!-- version block start -->
  <div class="container-fluid container-fluid--topics container-fluid--bordered"> <!-- container fluid start -->
      <div class="container"> <!-- container starts here -->
      	<div class="row">
      	    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      	    	<h5><i class="fa fa-clock-o" aria-hidden="true"></i> Latest Version</h5>
      	    	<p>v4.2.8 (2017-11-17)</p>
      	    	<ul>
      	    		<li>Fixed freezing on Windows 7 classic theme</li>
      	    		<li>Small known bugs were fixed</li>
      	    	</ul>
      	    </div>
      	    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      	    	<h5><i class="fa fa-windows" aria-hidden="true"></i> Available On</h5>
      	    	<p>Microsoft Windows 10, 8.1, 8, 7, Vista and XP including both 32-bit and 64-bit versions.</p>
      	    	<!-- Windows images here -->
      	    	<img src="image/windows.png" alt="windows images">
      	    </div>
      	</div>
      </div> <!-- container ends here -->
  </div> <!-- container fluid end -->
</section> <!-- version end-->

	<% include ../partials/_footer.ejs %>

  </body>
</html>