<html>
  <head>
  	   <title>PicPick</title>
  		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
		<% include ../partials/_header.ejs %>

    <!-- features start here -->

  <section id="gray" class="container-fluid--bg-lightgray"> <!-- Screenshot section start -->
  <div class="container-fluid container-fluid--bordered"> <!-- container-fliuid start -->
    <div class="container"> <!-- container start -->
      <h3 class="container--header-pad-sm font--lg">Features</h3>
      <div class="row row--pad-bottom features--block"> <!-- row start -->
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"><img src="image/screenshot-one.png" alt=""></div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"><img src="image/screenshot-two.png" alt=""></div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"><img src="image/screenshot-three.png" alt=""></div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"><img src="image/screenshot-four.png" alt=""></div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"><img src="image/screenshot-five.png" alt=""></div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"><img src="image/screenshot-six.png" alt=""></div>
      </div> <!-- row end -->
    </div> <!-- container end -->
  </div> <!-- container0fliud end -->
</section> <!-- Screenshot section end -->

    <!-- feature block ends here -->

<section id="white"> <!-- screen capture block start -->
  <div class="container-fluid container-fluid--topics"> <!-- container fluid start -->
    <div class="container container--features-blk">
      <h6 class="font--md"><i class="fa fa-camera icon--lg icon--gray" aria-hidden="true"></i>  Screen Capture</h6>
      <p><i class="fa fa-check icon--orange" aria-hidden="true"></i> Take screenshots of an entire screen, an active window, the scrolling windows and any specific region of your desktop, etc.</p>
      <p><i class="fa fa-check icon--orange" aria-hidden="true"></i> Support multiple monitor environment, cpaturing with cursor, auto save and file naming, etc</p>
      <p><i class="fa fa-check icon--orange" aria-hidden="true"></i> Support the floating widget Capture Bar which makes it easy for you to take screenshots.</p>
      <p><i class="fa fa-check icon--orange" aria-hidden="true"></i> Customize your own keyboard shortcuts.</p>
      <div class="row font--sm">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><h3>Full-Screen</h3></div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><h3>Active window</h3></div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><h3>Window control</h3></div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><h3>Scrolling window</h3></div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><h3>Region</h3></div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><h3>Fixed region</h3></div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><h3>Freehand</h3></div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><h3>Repeat last capture</h3></div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><h3>Capture widget</h3></div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><h3>Capturing with cursor</h3></div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><h3>Delayed capture</h3></div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><h3>Auto-save</h3></div>
      </div>
    </div>
  </div> <!-- container fluid end -->
</section> <!-- screen capture end-->


<section id="white"> <!-- image editor start -->
  <div class="container-fluid  container-fluid--topics"> <!-- container fluid start -->
    <div class="container container--features-blk">
      <h6 class="font--md"><i class="fa fa-picture-o icon--lg icon--gray" aria-hidden="true"></i>  Image Editor</h6>
      <p><i class="fa fa-check icon--orange" aria-hidden="true"></i> With the built-in image editor tha include the latest Ribbon style menu, you can annotate and highlight your images.</p>
      <div class="row font--sm">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><h3>Drawing</h3></div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><h3>Insert text</h3></div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><h3>Arrow, lines</h3></div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><h3>Shapes</h3></div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><h3>Balloon</h3></div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><h3>Highlight tool</h3></div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><h3>Crop</h3></div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><h3>Resize</h3></div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><h3>Rotate</h3></div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><h3>Invert</h3></div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><h3>Grayscale</h3></div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><h3>Mosaic</h3></div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><h3>Frame</h3></div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><h3>Watermark</h3></div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><h3>Blur</h3></div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><h3>Sharpen</h3></div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><h3>Brightness</h3></div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><h3>Hue / Saturation</h3></div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><h3>Color Balance</h3></div>
      </div>
    </div>
  </div> <!-- container fluid end -->
</section> <!-- image editor end-->


<section id="white"> <!-- save, share, or send start -->
  <div class="container-fluid  container-fluid--topics"> <!-- container fluid start -->
    <div class="container container--features-blk">
      <h6 class="font--md"><i class="fa fa-cloud icon--lg icon--gray" aria-hidden="true"></i>  Save, share, or send</h6>
      <p><i class="fa fa-check icon--orange" aria-hidden="true"></i> Once done with capturing and editing your images, you can save, share, or send it with a variety of outputs.</p>
      <div class="row font--sm">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><h3>Clipboard</h3></div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><h3>Image files</h3></div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><h3>PDF</h3></div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><h3>Printer</h3></div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><h3>Web URL</h3></div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><h3>Dropbox</h3></div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><h3>Google Drive</h3></div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><h3>SkyDrive</h3></div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><h3>Box</h3></div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><h3>Facebook</h3></div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><h3>Twitter</h3></div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><h3>Skype</h3></div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><h3>Frame</h3></div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><h3>FTP Server</h3></div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><h3>e-mail</h3></div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><h3>Microsoft word</h3></div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><h3>Microsoft Powerpoint</h3></div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><h3>Microsoft Excel</h3></div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><h3>External program</h3></div>
      </div>
    </div>
  </div> <!-- container fluid end -->
</section> <!-- save, share, or send end-->


<section id="white"> <!-- color picker block start -->
  <div class="container-fluid  container-fluid--topics"> <!-- container fluid start -->
    <div class="container">
      <h6 class="font--md"><i class="fa fa-pencil icon--lg icon--gray" aria-hidden="true"></i>  Color Picker</h6>
      <p><i class="fa fa-check icon--orange" aria-hidden="true"></i> Help you find the exact pixel color code on your screen with a built-in magnifier window.</p>
      <p><i class="fa fa-check icon--orange" aria-hidden="true"></i> Support RGB, HTML, C++, Delphi.</p>
    </div>
  </div> <!-- container fluid end -->
</section> <!-- color picker block end-->


<section id="white"> <!-- color palette block start -->
  <div class="container-fluid  container-fluid--topics"> <!-- container fluid start -->
    <div class="container">
      <h6 class="font--md"><i class="fa fa-book icon--lg icon--gray" aria-hidden="true"></i>  Color Palette</h6>
      <p><i class="fa fa-check icon--orange" aria-hidden="true"></i> Find and tune the exact pixel color code using photoshop styled color picker which supporrts RGB, HSV.</p>
    </div>
  </div> <!-- container fluid end -->
</section> <!-- color palette block end-->


<section id="white"> <!-- Pixel Ruler block start -->
  <div class="container-fluid  container-fluid--topics"> <!-- container fluid start -->
    <div class="container">
      <h6 class="font--md"><i class="fa fa-compass icon--lg icon--gray" aria-hidden="true"></i>  Pixel Ruler</h6>
      <p><i class="fa fa-check icon--orange" aria-hidden="true"></i> Help you measure the size of objects and place objects in precise locations on the screen</p>
      <p><i class="fa fa-check icon--orange" aria-hidden="true"></i> Support horizontal and vertical orientation, units (pixels, inches, centimeters), DPI settings (72, 96, 120, 300) skins.</p>
    </div>
  </div> <!-- container fluid end -->
</section> <!-- Pixel Ruler block end-->


<section id="white"> <!-- magnifier block start -->
  <div class="container-fluid  container-fluid--topics"> <!-- container fluid start -->
    <div class="container">
      <h6 class="font--md"><i class="fa fa-search icon--lg icon--gray" aria-hidden="true"></i>  Maginifier</h6>
      <p><i class="fa fa-check icon--orange" aria-hidden="true"></i> With light, smooth and sizable magnifier tool, you can see any desktop area magnified in it's magnification glass.</p>
    </div>
  </div> <!-- container fluid end -->
</section> <!-- magnifier block end-->



<section id="white"> <!-- crosshair block start -->
  <div class="container-fluid  container-fluid--topics"> <!-- container fluid start -->
    <div class="container">
      <h6 class="font--md"><i class="fa fa-crosshairs icon--lg icon--gray" aria-hidden="true"></i>  Crosshair</h6>
      <p><i class="fa fa-check icon--orange" aria-hidden="true"></i> Figure out the relative coordinate of picture position with this feature.</p>
      <p><i class="fa fa-check icon--orange" aria-hidden="true"></i> This can be useful for example in developing HTML image maps.</p>
    </div>
  </div> <!-- container fluid end -->
</section> <!-- crosshair block end-->


<section id="white"> <!-- Protractor block start -->
  <div class="container-fluid  container-fluid--topics"> <!-- container fluid start -->
    <div class="container">
      <h6 class="font--md"><i class="fa fa-line-chart icon--lg icon--gray" aria-hidden="true"></i>  Protractor</h6>
      <p><i class="fa fa-check icon--orange" aria-hidden="true"></i> Help you find angles on screen. Pick a center then a location, then the angle in degrees away from the first.</p>
      <p><i class="fa fa-check icon--orange" aria-hidden="true"></i> This can be used in a variety of photography, math, and graphics applications.</p>
    </div>
  </div> <!-- container fluid end -->
</section> <!-- Protractor block end-->


<section id="white"> <!-- Whiteboard block start -->
  <div class="container-fluid  container-fluid--topics"> <!-- container fluid start -->
    <div class="container">
      <h6 class="font--md"><i class="fa fa-paint-brush icon--lg icon--gray" aria-hidden="true"></i>  Whiteboard</h6>
      <p><i class="fa fa-check icon--orange" aria-hidden="true"></i> You can have virtual whiteboard on your desktop. You can use it for presentation or drawing something on your desktop.</p>
    </div>
  </div> <!-- container fluid end -->
</section> <!-- Whiteboard block end-->

		<% include ../partials/_reviews.ejs %>

		<% include ../partials/_purchase.ejs %> <!-- purchase partials included here -->
		
		<% include ../partials/_footer.ejs %>

  </body>
</html>