<!-- this is the homepage -->

<section id="gray" class="container-fluid--bg-lightgray"> <!-- section with gray background start --> 
	<div class="container-fluid container-fluid--bordered"> <!-- contianer-fluid start -->
		<div class="container"> <!-- oontainer start -->
		   <div class="row row--padding-tb50"> <!-- row start -->
		   		<div data-mh="hero-blk" class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <!-- PicPick block start -->
		   			<p class="font--lg"><img src="image/picpic.png" alt="" class="container--emblem"> PicPick</p>
		   			<h6 class="font--sm">All-in-one-design-tool for everyone</h6>
		   			<p>
		   				A full-featured screen capture tool, intuitive image editor, color picker, color palette, pixel-ruler, protractor, crosshair, whiteboard and more
		   			</p>
		   			<p>
		   				User friendly and full of features for creating your image, Suitable for software developers, graphic designers and home users.
		   			</p>
		   			<a href="" type="submit" class="btn btn-primary"><i class="fa fa-download" aria-hidden="true"></i> DOWNLOAD</a>
		   			<a href="" type="submit" class="btn btn-success">BUY NOW</a><br><br>
		   			<p>
		   				<small>
		   					<i class="fa fa-windows" aria-hidden="true"></i>  <i>Windows 10 Ready, Available on all Windows</i>
		   				</small>
		   			</p>
		   		</div> <!-- PicPick block end -->
		   		<div data-mh="hero-blk" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pos-rel"> <!-- Screenshot block start -->
		   			<!-- TODO this image shouldn't be inline. To resolve the webpack issue associated with it-->
					<div class="img--bg-cover-boxShadow col--height-lg"></div>
		   		</div> <!-- screenshot block end -->
		   </div> <!-- row end -->
		</div> <!-- container end -->
	</div> <!-- container fluid end -->
</section> <!-- section with gray background end -->

<!-- features section -->

<section id="white"> <!-- Feaatures section with white background -->
	<div class="container-fluid"> <!-- container fluid start -->
		<div class="container">
			<h3 class="container--header-pad-sm font--lg">Features</h3>
			<div> <!-- row start -->
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<h6 class="font--sm"><i class="fa fa-camera icon--lg icon--gray" aria-hidden="true"></i> Capture anything</h6>
					<p>Take screenshots of an entire screen, an active window, the scrolling windows and any specific region of your desktop, etc</p>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<h6 class="font--sm"><i class="fa fa-picture-o icon--lg icon--gray" aria-hidden="true"></i> Edit your images</h6>
					<p>
						Annotate and highlight your images: text, arrows, shapes and more with the built in image editor that includes the latest Ribbon style menu.
					</p>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<h6 class="font--sm"><i class="fa fa-magic icon--lg icon--gray" aria-hidden="true"></i> Enhance with effects</h6>
					<p>
						Easily add effects to your images: drop shadows, frames, watermarks. mosaic, motion blur, brightness control and more
					</p>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<h6 class="font--sm"><i class="fa fa-cloud icon--lg icon--gray" aria-hidden="true"></i> Share everywhere</h6>
					<p>Save, share, or send your images via web, email, ftp, Dropbox, Google Drive, SkyDrive, Box, Evernote, Facebook, Twitter and more.</p>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<h6 class="font--sm"><i class="fa fa-pencil icon--lg icon--gray" aria-hidden="true"></i> Graphic Accessories</h6>
					<p>Variety of graphic design accesories including color picker, color palette, picel ruler. protractor, crosshair, magnifier, whiteboard.</p>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<h6 class="font--sm"><i class="fa fa-cog icon--lg icon--gray" aria-hidden="true"></i> Customizable setting</h6>
					<p>With highly advanced settings, you can customize hotkeys, file naming, image quality, and many more options that fits your needs.</p>
				</div>
			</div> <!-- row end -->

			<div class="btn--block">
				 <a href="#" class="btn btn-default btn--pager-btn" role="button">VIEW DETAILS <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
			</div>


		</div>
	</div> <!-- container fluid end -->
	
</section> <!-- features section end -->

<!-- screenshot section -->

<section id="gray_night" class="container-fluid--bg-darkgray"> <!-- Screenshot section start -->
	<div class="container-fluid"> <!-- container-fliuid start -->
		<div class="container"> <!-- container start -->
			<h3 class="container--header-pad-sm shim--color-white">Screenshots</h3>
			<% include ../partials/_screenshot.ejs %>
		</div> <!-- container end -->
	</div> <!-- container0fliud end -->
</section> <!-- Screenshot section end -->

