<html>
  <head>
  	   <title>Partners</title>
  		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
	<% include ../partials/_header.ejs %>

	 <section id="gray" class="container-fluid--bg-lightgray"> <!-- Affiliate Program start -->
  <div class="container-fluid container-fluid--bordered"> <!-- container-fliuid start -->
    <div class="container font--middle"> <!-- container start -->
      <h3 class="container--header-pad-sm font--lg">Affiliate Program</h3>
      <p>Promote PicPick on your website and get paid for it! <span class="font--orange">Get 30% commission</span> on every sale you refer!</p>
      <p><small>To start selling, all you need to do is display product information and "Buy Now" links on your website.</small></p>
     
    </div> <!-- container end -->
  </div> <!-- container0fliud end -->
</section> <!-- Affiliate Program end -->


<section id="white"> <!-- start -->
  <div class="container-fluid container-fluid--topics container-fluid--bordered"> <!-- container fluid start -->
      <div class="container"> <!-- container starts here -->
      	<p><b>It's as easy as 1, 2, 3....</b></p>
      	<p>Avangate takes care of the ordering process, product, delivery and customer support.</p>
      	<p><i class="fa fa-check icon--orange" aria-hidden="true"></i> No need to store any software on your servers, or keep track of licenses.</p>
      <p><i class="fa fa-check icon--orange" aria-hidden="true"></i> No hassles related to invoicing or payments from customers</p>
      <p><i class="fa fa-check icon--orange" aria-hidden="true"></i> No setup fee, no start up cost, no hidden performance targets to reach!</p>

      <p>You will also benefit from comprehensive affiliate reports that will show you exactly how you perform.</p>

	    <h5><b>Monthly payments</b></h5>
      <p>You will get your commissions every month, either transferred to your Avangate Prepaid Debit MasterCard or sent via wire transfer, check or PayPal.</p>

      <h5><b>Guaranty Affiliate Commission</b></h5>
      <p>When a visitor follows a link or banner from your site, Avantage keeps track of your Affiliate ID for 120 calendar days. That's 4 months during which any order places by the same user guarantees your affiliate commission.</p>

      <h5><b>Start Selling now!</b></h5>
      <p>Use every available channek of promotion you have - website, newsletter, etc!
      <br>
	       Remember - the more referral links you create, the more chances you have to make money from your website!
      </p><br><br>

      <p class="font--middle"><a href="" type="button" class="btn btn-primary">SIGN UP FOR AN ACCOUNT HERE</a><p><br><br>

      <p>After finishing sugning up, please <a href="">contact</a> us with your affiliate ID so that we ccan approve your request.</p>
      </div> <!-- container ends here -->
  </div> <!-- container fluid end -->
</section> <!-- end-->


	<% include ../partials/_footer.ejs %>

  </body>
</html>