<html>
  <head>
  	   <title>PicPick</title>
  		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
	<% include ../partials/_header.ejs %>

 <!-- Buy now start here -->

  <section id="gray" class="container-fluid--bg-lightgray"> <!-- Screenshot section start -->
  <div class="container-fluid"> <!-- container-fliuid start -->
    <div class="container"> <!-- container start -->
      <h3 class="container--header-pad-sm font--lg">Buy Now</h3>
      <p><i class="fa fa-exclamation-circle icon--orange" aria-hidden="true"></i> PicPick is licemsed per User. Each purchased user can have the software installed on two machines. (for example, PC and laptop).</p>
      <p><i class="fa fa-exclamation-circle icon--orange" aria-hidden="true"></i> One license may not be shared between different users.</p>
      <div class="row row--pad-bottom"> <!-- row start -->
      	  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 font--middle">
      	  	  <div class="panel panel-default"> <!-- panel start -->
  					<!-- table body start -->
  					<table class="table font--middle">
					<thead class="table--thead-bg"> <!-- table head start -->
  							<tr> <!--table head row start -->
  								<th class="font--middle"><b>Number of Users</b></th>
  								<th class="font--middle"><b>Price (USD) Per User</b></th>
  							</tr> <!-- table head row end -->
  						</thead> <!-- table head end -->
					<tbody>
						<tr>
							<td>1</td>
							<td><b class="shim--color-orange">&dollar;24.99</b> <b><strike>&dollar;29.99</strike></b></td>
						</tr>
						<tr>
							<td>2~9</td>
							<td>&dollar;21.99</td>
						</tr>
						<tr>
							<td>10~19</td>
							<td>&dollar;19.99</td>
						</tr>
						<tr>
							<td>20~49</td>
							<td>&dollar;17.99</td>
						</tr>
						<tr>
							<td>50~99</td>
							<td>&dollar;15.99</td>
						</tr>
						<tr>
							<td>100~199</td>
							<td>&dollar;13.99</td>
						</tr>
						<tr>
							<td>More</td>
							<td><a href="">Please contact us for a quote!</a></td>
						</tr>
					</tbody>
				  </table>
  					<!-- table body end -->
  					<div class="panel-footer">Please note that <span class="shim--color-orange">VAT</span> may apply for some European purchasers.</div>
				
			 </div> <!-- panel end -->
      	  </div>
      	  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      	  	  	<div class="panel panel-default"> <!--For professional users start -->
  				<!-- Default panel contents -->
  					

  					<!-- List group -->
  					<ul class="list-group">
    					<li class="list-group-item">
    						Advantage is out online payment system that we recommend .It supports a fully secure onine payment service with a variety of payment methods like paypal,credit card etc
    						<img src="image/payment.png" alt="payment" class="img--middle-margin-top">
    					</li>
  					</ul>
  					
  					
				</div> <!-- for professional users end -->
				<a class="btn-block btn-success font--middle font--sm btn--margin-top"><i class="fa fa-shopping-cart"></i> Buy Now</a>
      	  </div>
      </div> <!-- row end -->
    </div> <!-- container end -->
  </div> <!-- container0fliud end -->
</section> <!-- Buy now end -->


<section id="white"> <!-- Key points start -->
  <div class="container-fluid container-fluid--topics"> <!-- container fluid start -->
      <div class="container"> <!-- container starts here -->
      	<div class="row">
      	    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      	    	<h4><i class="fa fa-bolt"></i> Instant Key Delivery</h4>
      	    	<p>Get instant aceess to your registration key when your order is complete.</p>
      	    </div>
      	    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      	    	<h4><i class="fa fa-refresh"></i> Lifetime Updates</h4>
      	    	<p>License include unlimited free upgrades to all future versions of PicPick.</p>
      	    </div>
      	    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      	    	<h4><i class="fa fa-question-circle"></i> Purchase Questions</h4>
      	    	<p>If you have any questions regarding purchasing of licensing, please feel free to <a href="">contact us</a></p>
      	    </div>
      	</div>
      </div> <!-- container ends here -->
  </div> <!-- container fluid end -->
</section> <!-- keypoints end-->

	<% include ../partials/_footer.ejs %>

  </body>
</html>