<!-- this is footer partials -->
<div class="container-fluid container-fluid--bordered footer shim--padding-rl shim--margin-rl">
	<footer class="container footer--padding-tb">
		<div class="row"> <!-- footer row start -->
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
				<p>Copyright© <span class="shim--color-orange">NG</span>WIN, All rights reserved.</p>
				<nav aria-label="Footer links navigator"> <!-- footer links start -->
  					<ul class="pagination">
    					<li>
      						<span>End User License Agreements <span class="sr-only">(End User License Agreement)</span> </span>
    					</li>
    					<li>
      						<span>Privacy Policy <span class="sr-only">(Privacy Policy)</span></span>
    					</li>
  					</ul>
				</nav> <!-- footer links stop -->
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"> 
				<div class="row">
					<div class="col-md-5 col-md-offset-7 col-lg-5 col-lg-offset-7">
						<!-- social media icons start-->
						<i class="fa fa-envelope icon--sm icon--blue" aria-hidden="true"></i>
						<i class="fa fa-facebook-official icon--sm icon--blue" aria-hidden="true"></i>
						<i class="fa fa-twitter icon--sm icon--blue" aria-hidden="true"></i>
					</div>
				</div>
			</div> <!-- social media icons end -->
		</div> <!-- footer row end -->	
	</footer> <!-- container ends here -->

</div> <!-- container fluid ends here -->