<!-- this is a header partials -->
<div class="container"> <!-- opening site container div -->
	<div class="row"> <!-- header top row start -->
		<header>
			<div class="col-md-8 col-lg-8"> 
				<div>
					<img src="image/ngwin_logo.png" alt="logo" class="container--logo">
				</div>
			</div>
			<div class="col-md-4 col-lg-4 shim--padding-rl"> <!-- navbar column wrapper start -->
				<nav class="navbar navbar-default navbar-static-top"> <!-- navbar start -->
  					<ul class="nav navbar-nav navbar--width-full">
    					<li class="active navbar--item">
    					<a class="" href="#">PicPick</a></li>
    					<li class="navbar--item"><a class="" href="partner.html">Partners</a></li>
    					<li class="navbar--item"><a class="" href="contact_us.html">Contact</a></li>
  					</ul>
				</nav> <!-- navbar end -->
			</div> <!-- navbar column end -->
		</div> <!-- header top row end -->
</div> <!-- closing container div -->
<div class="container-fluid row--bg-gray">
	<div class="container">
		<div class="row"> <!-- header bottom row start -->
			<div class="col-md-10 col-lg-10"> <!-- nav pills start -->
				<ul class="nav nav-pills">
  					<li role="presentation" class="active"><a href="index.html">Overview</a></li>
  					<li role="presentation"><a href="features.html">Features</a></li>
  					<li role="presentation"><a href="download.html">Download</a></li>
  					<li role="presentation"><a href="purchase.html">Buy Now</a></li>
				</ul>
			</div> <!-- navpills end -->
			<div class="col-md-2 col-md-lg"> <!-- button dropdown column -->
			    <div class="row">
			    	<div class="col-md-8 col-md-offset-4 col-lg-7 col-lg-offset-5">
					<!-- Single button -->
						<div class="btn-group btn--margin-left">
  							<button type="button" class="btn btn-default dropdown-toggle btn--override" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-globe" aria-hidden="true"></i>
                    		English <span class="caret"></span>
  							</button>
  							<ul class="dropdown-menu">
    							<li><a href="#">English</a></li>
    							<li><a href="#">Deutsch</a></li>
    							<li><a href="#">Francais</a></li>
    							<li><a href="#"><!--TODO include special characters herer--></a></li>
    							<li><a href="#">Portuguese</a></li>
    							<li><a href="#"><!--TODO include special characters herer--></a></li>
    							<li><a href="#"><!--TODO include special characters herer--></a></li>
    							<li><a href="#">Dansk</a></li>
  							</ul>
						</div>
					</div>
				</div>
			</div> <!-- button dropdown column -->
		</header>
	</div> <!-- header bottom row end -->
  </div> <!-- end of container -->
</div> <!-- container fluid ends here -->