<!-- this is for purchase.ejs -->

<div class="container-fluid container-fluid--bg-plain"> <!-- container fluid start -->
	<div class="container">
		<div class="row"> <!-- row start -->
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
				<h3>Free for personal use, try it today</h3>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1">
			    <div class="btn--group-wrapper">
					<a type="submit" class="btn btn-primary">DOWNLOAD</a>
					<a type="submit" class="btn btn-success">BUY NOW</a>
				</div>
			</div>
		</div> <!-- row end -->
	</div>
</div> <!-- container fluid end -->