<!-- this is where the reviews partials should live -->

<!-- media reviews section -->

<section id="gray" class="container-fluid--bg-lightgray"> <!--Media Reviews start -->
	<div class="container-fluid"> <!-- container fluid start -->
		<div class="container"> <!-- container start -->
			<h3 class="container--header-pad-sm font--lg">Media Reviews</h3>
			<div class="row row--bg-white"> <!-- first row start -->
				<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
					<img src="image/cnet.png" alt=""> <!-- client logo here -->
				</div>
				<div class="col-xs-12 col-sm-8 col-md-9 Pcol-lg-9">
					<p><i>This program makes us think of a Swiss Army Knife, or perhaps a well-stocked, well-organized desk drawer. There are all kinds of helpful tools here and we think PicPick would be iseful to Web designers, graphic designers, and even the average computer user who ocaasionally needs to work with graphics</i></p> <!-- client feedback here -->
					<p><a href="">CNET Download.com</a></p> <!-- clients web link -->
				</div>
			</div> <!-- first row end -->
			<div class="row row--bg-white"> <!-- second row start -->
				<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
					<img src="image/softpedia.png" alt=""> <!-- client logo here -->
				</div>
				<div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
					<p><i>Specially desinged for the home user and aiming at giving as much flexibility as possible during the work. It even includes some features never to be found in Photoshop. PicPick, besides being a very easy to use image editor also sports graphic capture options and a set of hotkeys and options some similar editors would envy.</i></p> <!-- client feedback here -->
					<p><a href="">Softpedia</a></p> <!-- client web link -->
				</div>
			</div> <!-- second row end -->
		</div> <!-- container end -->
	</div> <!-- container-fluid end -->
	
</section> <!--Media reviews end -->