 <!-- Timeline section -->
<section class="timeline--section-wrapper"> <!-- section start -->
 	<div class="container-fluid container-fluid--bg-lightgray timeline--container-padding">
 		<div class="container">
 		  <p class="font--md  font--middle">Translators</p>
          <p class="font--middle">We hope all worldwide users can enjoy locallized software with ease.</p>
          <p class="font--middle"><small>If you find any inaccurate translation or untranslated text, please contact us and submit your translation to us.</small></p>
 		</div>
 		<div class="container">
 			<section class="timeline--wrapper sm--hide"> <!-- Timeline wrapper start -->  
          		<div class="timeline--block"> <!-- content block start -->
              		<div class="timeline--image is-hidden"> <!-- one -->
              			<span class="timeline--icons"><i class="fa fa-language" aria-hidden="true"></i></span>
              		</div>
              		<div class="timeline--content is-hidden">
                		<p>Arabic</p>
                		<p>The JokeR (سهيل محمد باريان)</p>
                		<a href="#" class="btn btn-info">Learn More</a>
              		</div>
		  		</div> <!-- content block end -->

		  		<div class="timeline--block"> <!-- content block start -->
			  		<div class="timeline--image is-hidden"> <!-- two -->
              			<span class="timeline--icons"><i class="fa fa-sign-language" aria-hidden="true"></i></span>
              		</div>
              		<div class="timeline--content is-hidden">
                		<p>Bulgarian</p>
                		<p>Александър Иванов</p>
                		<a href="#" class="btn btn-info">Learn More</a>
              		</div>
           		</div> <!-- content block end -->

		   		<div class="timeline--block">
              		<div class="timeline--image is-hidden"> <!-- three -->
              			<span class="timeline--icons"><i class="fa fa-globe" aria-hidden="true"></i></span>
              		</div>
              		<div class="timeline--content is-hidden">
                		<p>Catalan</p>
                		<p>Jaume Bosch</p>
                		<a href="#" class="btn btn-info">Learn More</a>
              		</div>
           		</div> <!-- content block end -->

		   		<div class="timeline--block">
              		<div class="timeline--image is-hidden"> <!-- four -->
              			<span class="timeline--icons"><i class="fa fa-american-sign-language-interpreting" aria-hidden="true"></i></span>
              		</div>
              		<div class="timeline--content is-hidden">
                		<p>Chinese (Simplified)</p>
                		<p>PS Liang, 善用佳软, 心际迷航, 上海菠萝</p>
                		<a href="#" class="btn btn-info">Learn More</a>
              		</div>
           		</div> <!-- content block end -->

           		<div class="timeline--block">
              		<div class="timeline--image is-hidden"> <!-- five -->
              			<span class="timeline--icons"><i class="fa fa-language" aria-hidden="true"></i></span>
              		</div>
              		<div class="timeline--content is-hidden">
                		<p>Portuguese</p>
                		<p>MCHAL, Chateaubriand Vieira Moura, Luis Neves</p>
                		<a href="#" class="btn btn-info">Learn More</a>
              		</div>
           		</div> <!-- content block end -->

				<div class="timeline--block">
              		<div class="timeline--image is-hidden"> <!-- six -->
              			<span class="timeline--icons"><i class="fa fa-globe" aria-hidden="true"></i></span>
              		</div>
              		<div class="timeline--content is-hidden">
                		<p>Turkish</p>
                		<p>Murat Pala, Cemal Dursun</p>
                		<a href="#" class="btn btn-info">Learn More</a>
              		</div>
           		</div> <!-- content block end -->
          
      		</section> <!-- Timeline end -->

          <section class="sm--show"> <!-- table start -->
              <table class="table table-striped">
          <tbody><tr>
            <td>Arabic</td>
            <td>The JokeR (سهيل محمد باريان)</td>
          </tr>
          <tr>
            <td>Bulgarian</td>
            <td>Александър Иванов</td>
          </tr>
          <tr>
            <td>Catalan</td>
            <td>Jaume Bosch</td>
          </tr>
          <tr>
            <td>Chinese (Simplifed)</td>
            <td>PS Liang, 善用佳软, 心际迷航, 上海菠萝</td>
          </tr>
          <tr>
            <td>Chinese (Traditional)</td>
            <td>PS Liang, Arith, kenny, shuy, 丹楓</td>
          </tr>
          <tr>
            <td>Croatian</td>
            <td>Elvis Perekovic, Dominko Aždajić</td>
          </tr>
          <tr>
            <td>CZech</td>
            <td>Jan Watzke, nik</td>
          </tr>
          <tr>
            <td>Danish</td>
            <td>Regmos, Erik S. Kristensen</td>
          </tr>
          <tr>
            <td>Dutch</td>
            <td>Rob Blauw, Reintjedevos,Wim Kerstens,Theo Kamphuis</td>
          </tr>
          <tr>
            <td>Finnish</td>
            <td>Christian H</td>
          </tr>
          <tr>
            <td>French</td>
            <td>Eyael</td>
          </tr>
          <tr>
            <td>German</td>
            <td>Michael_ZZ, Arno Krumpholz (clickfish)</td>
          </tr>
          <tr>
            <td>Greek</td>
            <td>SGS-soft</td>
          </tr>
          <tr>
            <td>Hebrew</td>
            <td>mikycomputers</td>
          </tr>
          <tr>
            <td>Hungarian</td>
            <td>Phoenix</td>
          </tr>
          <tr>
            <td>indonesian</td>
            <td>Zalzala Zilzal</td>
          </tr>
          <tr>
            <td>Italian</td>
            <td>S.Salvatore, bovirus</td>
          </tr>
          <tr>
            <td>Japanese</td>
            <td>Asabukuro</td>
          </tr>
          <tr>
            <td>Korean</td>
            <td>Wiziple software</td>
          </tr>
          <tr>
            <td>Lithuanian</td>
            <td>Andrius Balsevičius</td>
          </tr>
          <tr>
            <td>Norwegian</td>
            <td>Arne B</td>
          </tr>
          <tr>
            <td>Persian</td>
            <td>Hessam Mohamadi (حسام محمدی)</td>
          </tr>
          <tr>
            <td>Polish</td>
            <td>dmocha</td>
          </tr>
          <tr>
            <td>Portuguese</td>
            <td>MCHAL, Chateaubriand Vieira Moura, Luis Neves</td>
          </tr>
          <tr>
            <td>Romanian</td>
            <td>joby_toss</td>
          </tr>
          <tr>
            <td>Russian</td>
            <td>SuperSlon, solokot</td>
          </tr>
          <tr>
            <td>Serbian</td>
            <td>Ozzii и Иван Старчевић</td>
          </tr>
          <tr>
            <td>Serbian Latin</td>
            <td>Ozzii &amp; Ivan Starchevicy</td>
          </tr>
          <tr>
            <td>Slovak</td>
            <td>rwrx_</td>
          </tr>
          <tr>
            <td>Slovenian</td>
            <td>Jadran Rudec</td>
          </tr>
          <tr>
            <td>Spanish</td>
            <td>Victor Emmanuel, Deschamps, 1kko</td>
          </tr>
          <tr>
            <td>Spanish Latin America</td>
            <td>Vico</td>
          </tr>
          <tr>
            <td>Swedish</td>
            <td>Åke Engelbrektson, Leif Larsson och Peter Tillman</td>
          </tr>
          <tr>
            <td>Thai</td>
            <td>Touchwon99</td>
          </tr>
          <tr>
            <td>Turkish</td>
            <td>Murat Pala, Cemal Dursun</td>
          </tr>
          <tr>
            <td>Ukrainian</td>
            <td>Kangoo, LIO</td>
          </tr>
        </tbody></table>
          </section> <!-- table end -->
    	</div> <!-- container end -->
    </div> <!-- container fluid end -->  
</section> <!--section end -->
   

      <!-- Timeline ends -->