@import '../partials/_variables.scss';

.navbar {
	margin-bottom : 0px !important;
	
	&-default {
  		background-color: #fff; /* bootstrap overrides */
  		border-color: #fff; /* bootstrap overrides */
	}
	&--width-full {
		width : $full-width;
	}
	&--item {
		width : $one-third;
		text-align : center;
	}
}

.nav-pills > li.active, .nav-pills > li > a.active, .nav-pills > li > a.focus {
	background-color : $color-orange !important;
}

.nav-pills > li > a:hover {
	background-color : #ddd !important;
}

.nav-pills > li:focus {
	background-color : $color-orange;
}

.nav-pills > li > a:focus {
	background-color : $color-orange;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
	background-color : $color-orange !important;
}

.nav>li>a:hover,
.nav>li>a:focus {
	background-color : $color-orange;
}