

/* ------------------------------------------ block element modifiers --------------------------------*/

$row-background-color : #eeeeee;
$body-background-color : #f8f8f8;
$gray-night : #666666;
$color-orange : #f4811f;
 
$full-width : 100%;
$half-width : 50%;
$one-third : 33.33%;
$quarter-width : 25%;

$full-height : 100%;
$half-height : 50%;
$one-third : 33.33%;
$quarter-height : 25%;

/* -------------------------------- TEXT SIZING -------------------------------*/
$font-lg : 32px;
$font-md : 24px;
$font-sm : 18px;
$font-xs : 10px;