

/* ------------------------------------------ block element modifiers --------------------------------*/

$row-background-color : #eeeeee;
$body-background-color : #f8f8f8;
$gray-night : #666666;
$color-orange : #f4811f;
 
$full-width : 100%;
$half-width : 50%;
$one-third : 33.33%;
$quarter-width : 25%;

$full-height : 100%;
$half-height : 50%;
$one-third : 33.33%;
$quarter-height : 25%;

/* -------------------------------- TEXT SIZING -------------------------------*/
$font-lg : 32px;
$font-md : 24px;
$font-sm : 18px;
$font-xs : 10px;


/* ------ Media Queries ----------------------- */
$screen-xs:					 480px;
$screen-xs-min:              $screen-xs;
$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;
$screen-md:                  992px;
$screen-md-min:              $screen-md;
$screen-lg:                  1200px;
$screen-lg-min:              $screen-lg;

$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);
